.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-title {
  font-size: 16px;
  font-weight: bold;
}

.cart-item-price {
  font-size: 14px;
  color: #555;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity input {
  width: 40px;
  text-align: center;
  margin: 0 5px;
}

.cart-item-remove {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-item-remove:hover {
  background-color: #ff1a1a;
}